html {
	height: 100%;
}

body {
	min-height: 100%;
	background: linear-gradient(to right, rgb(247, 202, 201), rgb(146, 168, 209));
}

.kama-div{
	width: 50%;
	position: absolute;
	left: 25%;
	top: 50%;
	text-align: center;
}

.kama-img{
	max-height: 50px;
	max-width: 50px;
	min-height: 25px;
	min-width: 25px;
	position: relative;
	display: inline-block;
}

.setas{
	display: inline-block;
	vertical-align: middle;
}

.player{
	position: absolute;
	padding: 0.5em;
	width: 20%;
	height: 100%;
	border: 1px solid black;
	top: 0%;
}

.p1{
	right: 80%;
}

.p2{
	right: 0%;
}

.apagar {
	padding: 0.5em;
	float: left;
	border: 5px dashed black;
	position: absolute;
	left: 30%;
	top: 0%;
	width: 40%;
	height: 40%;
	text-align: center;
}

.success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	padding: 15px;
	margin: 10px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
    display: none;
}

.fa-angle-double-left, .fa-angle-double-left{
	position: relative;
	display: inline-block;
}