html {
	height: 130%;
}

body {
	min-height: 100%;
	background: linear-gradient(to right, rgb(247, 202, 201), rgb(146, 168, 209));
}

.kama-div{
	width: 40%;
	position: absolute;
	left: 30%;
	top: 102%;
	text-align: center;
}

.kama-img{
	max-height: 50px;
	max-width: 50px;
	min-height: 25px;
	min-width: 25px;
}

.setas{
	display: inline-block;
	vertical-align: middle;
}

.player{
	width: 30%;
	height: 120%;
	position: absolute;
	top: 30%;
	padding: 0.5em;
}

.p1{
	left: 0%;
	border-right: 1px solid black;
}

.p2{
	right: 0%;
	border-left: 1px solid black;
}

.player-sortable{
	width: 100%;
	height: 100%;
}

.ui-player-state-ativado{
	background-color: rgba(255, 247, 0, 0.177);
}

.legenda{
	width: 100%;
	height: 70%;
	/*display: none;*/
	position: absolute;
	top: 0%;
	text-align: center;
	color: rgba(0, 0, 0, 0.598);
	text-shadow: 2px -2px 10px rgba(255, 217, 0, 0.781);
}

.legenda div{
	border: 5px solid rgba(0, 0, 0, 0.411);
	background-color: rgba(250, 235, 215, 0.671);
	
	margin: 20%;
}

.apagar {
	width: 30%;
	height: 70%;
	position: absolute;
	left: 35%;
	top: 30%;
	text-align: center;
	padding: 0.5em;
	border: 5px dashed black;
	overflow: hidden;
}

.rd-img{
	width: 70%;
	max-height: 200px;
	max-width: 200px;
	min-height: 70px;
	min-width: 70px;
	position: relative;
}

.ui-rd-state-ativado{
	background-color: rgba(255, 81, 0, 0.177);
}

.aviso {
	padding: 5px;
	margin: 10px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
    display: none;
}

.fa-angle-double-left, .fa-angle-double-left{
	position: relative;
	display: inline-block;
}

.kama-add{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.kama-rem{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}